@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: ReadexProRegular;
  src: local('ReadexProRegular'), local('ReadexProRegular'), url('/fonts/ReadexPro/ReadexPro-Regular.ttf');
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}